@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";
html{
    font-size: 100%;
    overflow-x: hidden
  }
  @include mixins.breakpoint(phone){
    html{
      overflow-x: hidden
    }
    
  }
  body{
    margin: 0;
    background-color: #0a192f;
}
