@use "../abstracts/variables";


h1{
    font-family: variables.$fontFamilyTwo;
    
}
h2{
    font-family: variables.$fontFamily;
    color: variables.$lightGrey;
    font-size: 1.8rem;
    font-weight: normal;
    span{
        color: variables.$tealColor;
        font-size: 70%;
        font-weight: lighter;
    }
}
hr{
    border: 1px solid variables.$tealColor;
    border-radius: .25rem;
}

