@use "../base/fonts";

$tealColor: #00D1B2;
$lightGrey: #ccd6f6;
$textGrey: #717f9c;
$thirdColor: #004cff;
$fontFamily: 'Roboto Mono', monospace;
$fontFamilyTwo: 'Open Sans', sans-serif;
$fontFamilyThree: 'lato';
