@use "../base/fonts";

$tealColor: #15f4ee;
$lightGrey: #ccd6f6;
$textGrey: #8892b0;
$thirdColor: #004cff;
$fontFamily: "Roboto Mono", monospace;
$fontFamilyTwo: "Open Sans", sans-serif;
$fontFamilyThree: "lato";
