@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";


.about{
  @include mixins.breakpoint(phone){
    padding-block: 2rem;
    padding-inline: 2rem; 
    .rowTwo{
      display: flex;
      flex-direction: column;
    }
    .aboutDiscription{
      max-width: 430px;
      p{
        font-size: 85%;
      }
      ul{
        font-size: 85%;
        text-align: center;
      }
    }
  }
  // max-width: 60%;
  padding-inline: max(18vw);
  margin: 0 auto;
  padding-block: max(12vw);
  
  .rowOne{
    display: flex;
    justify-content: left;
    align-items: center;
    hr{
      width: max(10px,1rem, 45%);
      margin: 0;
      margin-left: max(20px);
    }
  }
  .rowTwo{
    display: flex;
    justify-content: space-around;
    .aboutDiscription{
      @include mixins.description;
      font-size: clamp(1.1rem, 1vw + .2rem, 3.5rem);
      padding-right: (20px);
      word-spacing: 2px;
      max-width: 40rem;
     
      ul{
        columns: 2;
        list-style-type: circle;
        color: variables.$tealColor;
        span{
          color: variables.$textGrey;
        }
      }
    }
    .portrait{
      padding: max(2vw, 2px);
      width: auto;
      @include mixins.breakpoint(phone){
        display: grid;
        place-content: center;
      }
      .imgAbout{
      
      width: 100%;
      max-width: 200px;
      min-width: 120px;
      
      padding: max(1vh, 10px);
      border: solid 2px variables.$tealColor;
      border-radius: .5rem;
      transition-duration: 0.5s;
      -webkit-box-shadow:0px 0px 217px 0px rgba(21,244,237,0.29);
      -moz-box-shadow: 0px 0px 217px 0px rgba(21,244,237,0.29);
      box-shadow: 0px 0px 217px 0px rgba(21,244,237,0.29);
      &:hover{
        border-width: 4px;
        background-color: #00d1b221;
      }
    }
    }
    
  }
  
}

