@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";


.about{
  @include mixins.breakpoint(phone){
    padding-block: 2rem;
    padding-inline: 2rem; 
    .rowTwo{
      display: flex;
      flex-direction: column;
    }
    .aboutDiscription{
      p{
        font-size: 70%;
      }
      ul{
        font-size: 70%;
        text-align: center;
      }
    }
  }
  max-width: 75%;
  margin: 0 auto;
  padding-block: max(12vw);
  
  .rowOne{
    display: flex;
    align-items: center;
    *{
      padding-left: max(2.7vw);
    }
    hr{
      width: max(17vw);
      margin: 0;
      margin-left: max(20px);
    }
  }
  .rowTwo{
    display: flex;
    justify-content: space-around;
    .aboutDiscription{
      @include mixins.description;
      word-spacing: 2px;
      max-width: 30rem;
      ul{
        columns: 2;
        list-style-type: circle;
        color: variables.$tealColor;
        span{
          color: variables.$textGrey;
        }
      }
    }
    .portrait{
      padding-top: max(20px);
      padding-left: max(2vw, 3rem);

      .imgAbout{
      max-width: 300rem;
      padding: max(2vh, 2px);
      border: solid 2px variables.$tealColor;
      border-radius: .5rem;
      transition-duration: 0.5s;
      -webkit-box-shadow:0px 0px 217px 0px rgba(21,244,237,0.29);
      -moz-box-shadow: 0px 0px 217px 0px rgba(21,244,237,0.29);
      box-shadow: 0px 0px 217px 0px rgba(21,244,237,0.29);
      &:hover{
        border-width: 4px;
        background-color: #00d1b221;
      }
    }
    }
    
  }
  
}

