@use "../abstracts/variables";
@use "../abstracts/mixins";

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: variables.$fontFamily;
    padding: 1.8%;
    margin-left: 1.4%;
    }
    .navBarEnd{
        display: flex;
        align-items: center;
        margin-right: 2rem;
        .navItem{
            cursor: pointer;
            text-decoration: none;
            font-family: variables.$fontFamily;
            padding-right: 2rem;
            font-size: 80%;
            color: variables.$lightGrey;
            transition-duration: .7s;
            &:hover{
                color: variables.$tealColor;
            }
            span{
                color: variables.$tealColor;
            }
            @include mixins.breakpoint("phone"){
                display: none;   
            }
        }
        .resumeButton{
            @include mixins.button(.6rem, 1rem)
        }
}
.sticky{
    position: fixed;
    z-index: 10000;
    text-align: center;
    width: 100%;
    margin: 0;
   
    .navBar{
        margin-bottom: 10px;
    }
    .navBarEnd {
        padding-inline: 2rem;
        
    }
  
}

.overlay{
    background-color: #112240 ;
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    height: 100vh;
    z-index: 1000;
    transition: all .5s;
    &.active {
        right: 0;
    }
    &.mobileNav{
        text-align: right;
        .hamburgerItem{
            text-align: center;
            margin: 2rem;
            font-size: 80%;
            color: variables.$lightGrey;
            transition-duration: .7s;
            text-decoration: none;
            &:hover{
                color: variables.$tealColor;
            }
            span{
                color: variables.$tealColor;
            }
        }
    }
}
.mobileNav{
    display: none;
    a{
        display: none;
        cursor: pointer;
    }
}
.is-active{
    display: block;
    &.hamburgerItem{
        display: block;
    }
}
@include mixins.breakpoint("phone"){
    .navBarEnd{
        display: none;
    }
    .mobileNav{
        display: block;
        margin: 0;
    }
}